
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

    .main-body {
        width: 90%;
        position: relative;
        left: 16rem;
  }
    .search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-top: 5%;
  }
  
  .search-bar {
    width: 40%;
    font-size: 2em;
    border: none;
    outline: 0;
    padding: 10px;
    padding-left: 2rem;
    border-radius: 25px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
  }
  input {
    border: 0;
    border-radius: 11px;
    background-color: none !important;
  }
  
  .search-button {
    background: lightcoral;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    color: white;
    border-radius: 25px;
    margin-left: 5px;
    font-size: 2em;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
  }
  .recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .header {
    margin-right: 60px;
    font-size: 3.2em;
    color: aliceblue;
    text-decoration: aliceblue;
    text-shadow: 10px 6px 15px rgb(71, 71, 71);
  }
  
  @media screen and (min-width: 480px) and (max-width: 540px) {
    /* tablet layout */
    .recipes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      font-family:  'Fredoka One', cursive;
      width: 51em;
    }
    
    .search-bar {
      width: 100%;
      font-size: 28px;
      border: none;
      padding: 10px;
      border-radius: 11px;
      box-shadow: 0px 5px 20px rgb(71, 71, 71);
    }
    .search-button {
      width: 87%;
      margin-left: 6%;
      margin-right: 5%;
      margin-bottom: 5%;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 480px) {
    /* mobile layout */
    .search-bar {
      width: 85%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      font-size: 28px;
      border: none;
      padding: 10px;
      border-radius: 11px;
      box-shadow: 0px 5px 20px rgb(71, 71, 71);
    }
    .search-form {
      min-height: 10vh;
      display: inline;
      flex-direction: column;
      max-width: 50%;
      background: none;
    }
    .search-button {
      width: 88%;
      margin-left: 6%;
      margin-right: 5%;
      margin-bottom: 5%;
    }
    .header {
      margin-right: 5%;
      text-align: center;
      margin-left: 5%;
      font-size: 60px;
    }
  }
  
  @media screen and (min-width: 540px) and (max-width: 767px) {
    .recipes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      font-family:  'Fredoka One', cursive;
      max-width: 88%;
      padding-left: 12px;
      padding-right: 12px;
    }
    .search-form {
      min-height: 10vh;
      display: inline;
      flex-direction: column;
      max-width: 50%;
      background: none;
    }
    .search-bar {
      width: 85%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      font-size: 28px;
      border: none;
      padding: 10px;
      border-radius: 11px;
      box-shadow: 0px 5px 20px rgb(71, 71, 71);
    }
    .search-button {
      width: 87%;
      margin-left: 6%;
      margin-right: 5%;
      margin-bottom: 5%;
    }
    .header {
      margin-right: 5%;
      text-align: center;
      margin-left: 5%;
      font-size: 60px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .recipes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      font-family:  'Fredoka One', cursive;
      max-width: 92%;
      padding-left: 12px;
      padding-right: 12px;
    }
  
  }
  @media screen and (min-width: 1023px) { 
    .recipes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      /* font-family:  'Fredoka One', cursive; */
      width: 98%;
      padding: 5px;
    }
    
  }