
$primary-black: #303030;
$secondary-grey: #999999;
$background-color: #FAF9FB;
$Color: #26AE60;

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
  }

  .main-body {  
    width: 60vw;
    // position: relative;
    // left: 12rem;
  }
  .recipes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .search-form {
    @include flex(row, space-evenly, center);
    padding: 20px;
    padding-right: 5px;
    margin-left: 1rem;
    padding-top: 2%;
    max-height: 10vh;
  }
  .search-container {
    @include flex(row, flex-start, center);
    width: 70%;
    height: 1.6rem;
    padding: 0.4em;
    padding-left: 0.5rem;
    border-radius: 40px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    
    border: 0;
    outline: 0;
    line-height: 1em;
  }
  .search-bar {
    font-size: 1.2em;
    vertical-align: middle;
    padding-top: 5px;
  }

  input {
    border: 0;
    outline: 0;
    padding-left: 1rem;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 11px;
    background-color: none !important;
    vertical-align: middle;
    color: $primary-black !important;

    &::placeholder {
        font-weight: 500;
        font-size: 1.2em;
        padding-top: 1em;
        vertical-align: middle;
    }
  }
  
  .search-button {
    @include flex(row, center, center);
    border: 0;
    outline: 0;
    padding: 5px 20px;
    background-color: $Color !important;
    color: #FAF9FB;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 3rem;
    width: 10rem;
    height: 2.5rem;
    font-size: 1.3em;
    // box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3.9px 4.6px rgba(0, 0, 0, 0.08),
    0 12.3px 8.4px rgba(0, 0, 0, 0.056),
    0 18.8px 19.2px rgba(0, 0, 0, 0.037),
    0 22px 40px rgba(0, 0, 0, 0.019);
    text-shadow: 10px 6px 15px rgb(71, 71, 71);
    cursor: pointer;

    span {
        padding-left: 0.8rem;
    }
  }
  
  
  
  
  @media screen and (min-width: 480px) and (max-width: 540px) {
    /* tablet layout */
    // .recipes {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    //   flex-wrap: wrap;
    //   width: 51em;
    // }
    
    .search-bar {
      width: 100%;
      font-size: 28px;
      border: none;
      padding: 10px;
      border-radius: 11px;
     
    }
    .search-button {
      width: 87%;
      margin-left: 6%;
      margin-right: 5%;
      margin-bottom: 5%;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 480px) {
    /* mobile layout */
    .search-bar {
      width: 85%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      font-size: 28px;
      border: none;
      padding: 10px;
      border-radius: 11px;
      
    }
    .search-form {
      min-height: 10vh;
      display: inline;
      flex-direction: column;
      max-width: 50%;
      background: none;
    }
    .search-button {
      width: 88%;
      margin-left: 6%;
      margin-right: 5%;
      margin-bottom: 5%;
    }
    .header {
      margin-right: 5%;
      text-align: center;
      margin-left: 5%;
      font-size: 60px;
    }
  }
  
  @media screen and (min-width: 540px) and (max-width: 767px) {
    // .recipes {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    //   flex-wrap: wrap;
    //   max-width: 88%;
    //   padding-left: 12px;
    //   padding-right: 12px;
    // }
    .search-form {
      min-height: 10vh;
      display: inline;
      flex-direction: column;
      max-width: 50%;
      background: none;
    }
    .search-bar {
      width: 85%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      font-size: 28px;
      border: none;
      padding: 10px;
      border-radius: 11px;
      
    }
    .search-button {
      width: 8rem;
      margin-left: 6%;
      margin-right: 5%;
      margin-bottom: 5%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .recipes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 100%;
      padding-left: 12px;
      padding-right: 12px;
    }
  
  }
  @media screen and (min-width: 1023px) { 
    .recipes {
        @include flex(row, space-evenly, center);
        flex-wrap: wrap;
        width: 100%;
        padding: 5px;
    }
    
  }