
.slideout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 10;
    z-index: 100;
    font-family: 'Public Sans', sans-serif;
    background-color: #26AE60;
    color: aliceblue;
    transform: translateX(0%);
    transition-delay: 0s , 0.9s , 0.9s;
    transition-duration: 0.5s;
    opacity: 1;
    width: 17.8rem;
    padding: 1.7rem;
    padding-right: 1.2rem;
    height: 100vh;

    
}