
$sidebar-color: #F3F3F3;
$primary-black: #303030;
$secondary-grey: #999999;
$Color: #26AE60;

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

.slideout-right {
    @include flex(column, flex-start, flex-start);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 10;
    z-index: 200;
    font-family: 'Public Sans', sans-serif;
    background-color: $sidebar-color;
    color: aliceblue;
    transform: translateX(0%);
    overflow-y: auto;
    opacity: 1;
    width: 22rem;
    padding: 1.7rem;
    padding-left: 1.2rem;
    height: 100vh;
    
}

.add-section {
    @include flex(column, flex-start, center);

    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    width: 18rem;
    height: 22rem;
    background-color: #fff;

    img {
        width: 18rem;
        border-radius: 10px 10px 0 0;
    }

    div {
        @include flex(row, center, center);
    }

    .upload-recipe-button {
        // @include flex(row, center, center);
        border: 0;
        outline: 0;
        padding: 5px 20px;
        background-color: $Color;
        color: #FAF9FB;
        border-radius: 10px;
        margin: 0 auto;
        margin: 3rem;
        width: 10rem;
        height: 2.5rem;
        font-size: 1.3em;
        box-shadow: 0px 5px 20px rgb(71, 71, 71);
        cursor: pointer;
    }
}

.trend-section {
    @include flex(column, flex-start, flex-start);

    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    margin-left: 0;
    width: 22rem;
    height: 100%;
    margin-bottom: 3rem;
    background-color: #fff;
    font-family: inherit;
    padding-bottom: 3rem;

    h1 {
        color: $primary-black;
        font-size: 1.5em;
        margin-left: 1.8rem;
    }

}

.healthy-recipes {
    @include flex(row, flex-start, center);
    
    margin: 0.8rem 2rem;
    img {
        width: 8rem;
        height: 8rem;   
        border-radius: 50%;
        // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        box-shadow:  5px 5px 5px #d4d3d3, 
                    -5px -5px 5px #F3F3F3;
        transition: box-shadow .35s ease !important;

    }

    .healthy-recipe-label {
        @include flex(row, flex-start, center);
        flex-wrap: wrap;
        font-size: 1.2rem;
        font-weight: 500;
        color: $primary-black;
        width: 50%;
        margin-left: 2rem;
    }
}