@import './Sidebar';
@import './TrendSection';
@import './SingleRecipe';
@import './Recipe';

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

$primary-black: #303030;
$secondary-grey: #999999;
$background-color: #FAF9FB;


@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}



.row {
  @include flex(row, center, center);
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  font-family: 'Public Sans', sans-serif;
  background-color: $background-color;
}

.sidebar {
  width: calc(20/100 * 100vw);
}

.add {
  width: calc(30/100 * 100vw);
} 


.body {
  width: calc(50/100 * 100vw);
}