@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap');

.recipe {
    border-radius: 60px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    background-blend-mode: multiply,multiply;
    align-items: center;
    width: 40%;
    max-width: 100%;
}

.image {
    border-radius: 25px;
    width: 50%;
}

.header {
    margin: 2.5rem;
    margin-left: 3.6em;
    margin-right: 3.6em;
    font-size: 4.2em;
}

ol{
    font-size: 2.5rem;
    font-family: 'Hind Vadodara', sans-serif;
    margin: 1.2rem;
}
h2 {
    font-size: 3.2em;
    font-family: 'Hind Vadodara', sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    .recipe {
        border-radius: 20px;
        box-shadow: 0px 5px 20px rgb(71, 71, 71);
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
        background-blend-mode: multiply,multiply;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }
  }